<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <style type="text/css">
        p {
            margin-bottom: 0;
        }
        .smallest {
            font-size: 0.7rem ;
            margin-right: 0.2rem;
        }
        #link_table {
            font-size: 0.8rem;
        
            tr th {
                padding: 0; 
                font-weight: bold;
            }

/*             tr:nth-child(2n+0) {
                background-color: Lightgreen;
            }
 */        
            td {
                /* padding: 0; */
                padding-left: 0;
                padding-right: 0;
                border: 0;
            }
        }
        a[target="_blank"]::after {
            content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
            margin: 0px 3px 0px 5px;
        }
            
        .nav-link:active, .nav-link.active {
            background-color: orange !important;
        }
        .nav-tabs {
            --bs-nav-tabs-border-width: 0px;
            font-weight: 500;
        }
        .bt-custom {
            --bs-btn-padding-y: .25rem; 
            --bs-btn-padding-x: .5rem; 
            --bs-btn-font-size: .75rem;
        }
    </style>

  </head>
{% block body %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script>

    function expand(id) {
        if (document.getElementById(`details${id}`).style.display == "none") {
            document.getElementById(`details${id}`).style.display = "table-row"

        }
        else {
            document.getElementById(`details${id}`).style.display = "none"
        }
    }
    function dismissAction(id) {
        document.getElementById(`details${id}`).style.display = "none"
        document.getElementById(id).style.display = "none"
        fetch(`/dismissAction/${id}`, {
        method: 'POST',
        body: JSON.stringify({
        })
    })
    }
    function ignoreAction(id) {
        document.getElementById(`details${id}`).style.display = "none"
        document.getElementById(id).style.display = "none"
        fetch(`/ignoreAction/${id}`, {
        method: 'POST',
        body: JSON.stringify({
        })
    })
    }
    function brokenAction(id) {
        document.getElementById(`details${id}`).style.display = "none"
        document.getElementById(id).style.display = "none"
        fetch(`/brokenAction/${id}`, {
        method: 'POST',
        body: JSON.stringify({
        })
    })
    }
    function load() {
        document.getElementById(`spinner`).style.display = "inline-block"

    }
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<div>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <span class="btn" style="margin: 0 1%; border: none;"> Select List: </span>
        <ul class="nav nav-tabs" role="tablist" style="border: none;">
            {% if request.resolver_match.url_name == 'index' %}
            <li class="nav-item"><a class="nav-link active" href="/" data-toggle="tooltip" data-placement="bottom"
                title="Show links considered broken">Broken Links <span class="badge text-bg-secondary">{{ links|length }}</span></a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="/" data-toggle="tooltip" data-placement="bottom"
                title="Show links considered broken">Broken Links</a></li>
            {% endif %}
            {% if request.resolver_match.url_name == 'dismiss' %}
            <li class="nav-item"><a class="nav-link active" href="/dismiss" data-toggle="tooltip" data-placement="bottom"
                        title="Show links monitored for status change">Dismissed Links <span class="badge text-bg-secondary">{{ links|length }}</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="/dismiss" data-toggle="tooltip" data-placement="bottom"
                        title="Show links monitored for status change">Dismissed Links</a></li>
            {% endif %}
            {% if request.resolver_match.url_name == 'ignore' %}
            <li class="nav-item"><a class="nav-link active"  href="/ignore" data-toggle="tooltip" data-placement="bottom"
                title="Show links ignored as likely not broken">Ignored Links <span class="badge text-bg-secondary">{{ links|length }}</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="/ignore" data-toggle="tooltip" data-placement="bottom"
                title="Show links ignored as likely not broken">Ignored Links</a></li>
            {% endif %}
        </ul>
<!--         <div class="btn-group" role="group" aria-label="List Buttons">
            <a type="button" class="btn btn-secondary active" data-bs-toggle="button" aria-pressed="true" href="/" style="border-radius: 0rem;">Broken</a>
            <a type="button" class="btn btn-secondary" data-bs-toggle="button" aria-pressed="false" autocomplete="off" href="/dismiss" style="border-radius: 0rem;">Dismissed</a>
            <a type="button" class="btn btn-secondary" data-bs-toggle="button" aria-pressed="false" autocomplete="off" href="/ignore" style="border-radius: 0rem;">Ignored</a>
        </div>
 -->        
        <div class="btn-group" role="group" aria-label="Action Buttons" style="margin-left: 5%;">
            <a type="button" class="btn btn-danger" href="/update" style="padding-left: 20px; padding-right: 20px;" onclick="load()">
                <span class="spinner-border spinner-border-sm" id="spinner" role="status" aria-hidden="true"
                    style="display: none;"></span>Recheck All</a>
        </div>
    </div> 
</div>
<div id="table_container" style="border: 4px solid orange;">
    <table class="table table-bordered table-hover" id="link_table" style="margin-bottom: 0rem; width: 100%;">
        <thead class="table">
            <tr style="background-color: orange; padding: 0; border-color: orange;">
                <th scope="col" style="width: 35%;">URL</th>
                <th scope="col" style="width: 10%;">Status</th>
                <th scope="col" style="width: 25%;">Link Text</th>
                <th scope="col" style="width: 30%;">Source</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
            <tr id="{{ link.id }}" onclick="expand('{{ link.id }}')">
                <td>
                    <p> <a target="_blank" href="{{ link.url }}"> {{ link.url }}</a> </p>
                </td>
                <td> <p>{{ link.statusCode }}</p>
                     <p class="smallest">{{ link.reason }}</p>
                </td>
                <td> {{ link.urlText }}</td>
                <td> {{ link.pdfSource }}</td>
            </tr>
            <tr style="display: none; background-color: lightgray;" id="details{{ link.id }}">
                <td>
                    <p>Final Redirect: <a target="_blank" href="{{ link.finalurl }}">{{ link.finalurl }}</a></p>
                    <p>Last Checked: {{ link.lastChecked }} </p>
                    {% if link.dismiss == False and link.ignore == False %}
                    <button type="button" class="btn btn-warning bt-custom" data-toggle="tooltip" data-placement="bottom"
                        title="Hide this link and do not report it again unless its status changes"
                        onclick="dismissAction('{{ link.id }}')">Dismiss</button>
                    <button type="button" class="btn btn-danger bt-custom" data-toggle="tooltip" data-placement="bottom"
                        title="Remove this link and mark it as not broken"
                        onclick="ignoreAction('{{ link.id }}')">Ignore</button>
                    {% endif %}
                    {% if link.dismiss == True and link.ignore == False %}
                    <button type="button" class="btn btn-primary  bt-custom" data-toggle="tooltip" data-placement="bottom"
                        title="Check this link again" onclick="brokenAction('{{ link.id }}')">Recheck</button>
                    <button type="button" class="btn btn-danger  bt-custom" data-toggle="tooltip" data-placement="bottom"
                        title="Remove this link and mark it as not broken"
                        onclick="ignoreAction('{{ link.id }}')">Ignore</button>
                    {% endif %}
                    {% if link.dismiss == False and link.ignore == True %}
                    <button type="button" class="btn btn-primary  bt-custom" data-toggle="tooltip" data-placement="bottom"
                        title="Check this link again" onclick="brokenAction('{{ link.id }}')">Recheck</button>
                    <button type="button" class="btn btn-warning  bt-custom" data-toggle="tooltip" data-placement="bottom"
                        title="Hide this link and do not report it again unless its status changes"
                        onclick="dismissAction('{{ link.id }}')">Dismiss</button>
                    {% endif %}
                </td>
                <td></td>
                <td></td>
                <td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}