<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style type="text/css">
        #nav_container {
            width: 60%;
            display: flex;
        }
        #action_btn_group {
            display: block; 
            width: 40%;
            .btn {
/*                 padding-left: 20px; 
                padding-right: 20px; 
 */                float: right; 
                margin-right: 2%;
            }
        }
        p {
            margin-bottom: 0;
        }
        .smallest {
            font-size: 0.7rem ;
            margin-right: 0.2rem;
        }
        #link_table {
            font-size: 0.8rem;
        
            tr th {
                padding: 0; 
                font-weight: bold;
            }

/*             tr:nth-child(2n+0) {
                background-color: Lightgreen;
            }
 */        
            td {
                /* padding: 0; */
                padding-left: 0;
                padding-right: 0;
                border: 0;
            }
        }
        a[target="_blank"]::after {
            content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
            margin: 0px 3px 0px 5px;
        }
            
        .nav-link:active, .nav-link.active {
            background-color: orange !important;
        }
        .nav-tabs {
            --bs-nav-tabs-border-width: 0px;
            font-weight: 500;
        }
        .bt-custom {
            --bs-btn-padding-y: .25rem; 
            --bs-btn-padding-x: .5rem; 
            --bs-btn-font-size: .75rem;
        }
        
        .settingsPopoutClass {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .settings-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 0px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
            border-radius: 10px;
        }

        /* The Close Button */
        .cross {
            color: black;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .cross:hover,
        .cross:focus {
            color: red;
            text-decoration: none;
            cursor: pointer;
        }
    </style>

  </head>
{% block body %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    var countDismiss = Number("{{ dismissCount }}")
    var countIgnore = Number("{{ ignoreCount }}")
    var countBroken = Number("{{ brokenCount }}")
    //var allCount = Number("{{ allCount }}")
    function expand(id) {
        if (document.getElementById(`details${id}`).style.display == "none") {
            document.getElementById(`details${id}`).style.display = "table-row"

        }
        else {
            document.getElementById(`details${id}`).style.display = "none"
        }
    }

    function dismissAction(id) {    
        /* document.getElementById(`details${id}`).style.display = "none"
        document.getElementById(id).style.display = "none"
        countDismiss += 1
        document.getElementById('nav-dismiss').innerHTML = countDismiss
        $('a.active span')[0].innerText -= 1 */
        fetch(`/dismissAction/${id}`, {
            method: 'POST'})
        .then(function(res){
            if (res.status == 200){
                var url = $("#" + id).find('a').attr('href');
                $("#" + id).remove();
                $("#details" + id).hide();
                $("#details" + id).remove();
                countDismiss += 1;
                $('a.active span')[0].innerText -= 1;
                $(".url_column").each(function () {
                    if ($(this).attr('href') == url) {
                        var tr_id = $(this).parent().parent().parent().attr('id')
                        $("#details" + tr_id).hide();
                        $("#details" + tr_id).remove();
                        $("#" + tr_id).remove();
                        countDismiss += 1;
                        $('a.active span')[0].innerText -= 1;
                    }
                })
                $("#nav-dismiss")[0].innerHTML = countDismiss;
            }
        })
        .catch(error => {
            alert('There was a problem with selected operation:', error);
        });
    }

    function logoutAction() {
        fetch('/logout/', {
            method: 'POST'
        })
        .then(function(){
            alert ("Successfully logged out");
            window.location.replace("/logout");
        })
    }

    function profileAction() {
            fetch('/profile/', {
                method: 'POST'
            })
            .then(function () {
                window.location.replace("/");
            })
        }

    function cancelDismissAction(id) {
        /* document.getElementById(`details${id}`).style.display = "none"
        document.getElementById(id).style.display = "none"
        countDismiss += 1
        document.getElementById('nav-dismiss').innerHTML = countDismiss
        $('a.active span')[0].innerText -= 1 */
        fetch(`/cancelDismissAction/${id}`, {
            method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
            var url = $("#" + id).find('a').attr('href');
            $("#" + id).remove();
            $("#details" + id).hide();
            $("#details" + id).remove();
            countBroken += (data.broken ? 1 : 0);
            $('a.active span')[0].innerText -= 1;
            $(".url_column").each(function () {
                if ($(this).attr('href') == url) {
                    var tr_id = $(this).parent().parent().parent().attr('id')
                    $("#details" + tr_id).hide();
                    $("#details" + tr_id).remove();
                    $("#" + tr_id).remove();
                    countBroken += (data.broken ? 1 : 0);
                    $('a.active span')[0].innerText -= 1;
                }
            })
            $("#nav-broken")[0].innerHTML = countBroken;
            return
        })
        .catch(error => {
            alert('There was a problem with selected operation:', error);
        });
    }

    function ignoreAction(id) {
        fetch(`/ignoreAction/${id}`, {
            method: 'POST'})
        .then(function(res){
            if (res.status == 200){
                var url = $("#" + id).find('a').attr('href');
                $("#" + id).remove();
                $("#details" + id).hide();
                $("#details" + id).remove();
                countIgnore += 1;
                $('a.active span')[0].innerText -= 1;
                $(".url_column").each(function () { 
                    if ($(this).attr('href') == url) {
                        var tr_id = $(this).parent().parent().parent().attr('id')
                        $("#details" + tr_id).hide();
                        $("#details" + tr_id).remove();
                        $("#" + tr_id).remove();
                        countIgnore += 1;
                        $('a.active span')[0].innerText -= 1;
                    } 
                })
                $("#nav-ignore")[0].innerHTML = countIgnore;
            }
        })
        .catch(error => {
            alert('There was a problem with selected operation:', error);
        });
    }

    function cancelIgnoreAction(id) {
        fetch(`/cancelIgnoreAction/${id}`, {
            method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
            var url = $("#" + id).find('a').attr('href');
            $("#" + id).remove();
            $("#details" + id).hide();
            $("#details" + id).remove();
            countBroken += (data.broken? 1: 0);
            $('a.active span')[0].innerText -= 1;
            $(".url_column").each(function () {
                if ($(this).attr('href') == url) {
                    var tr_id = $(this).parent().parent().parent().attr('id')
                    $("#details" + tr_id).hide();
                    $("#details" + tr_id).remove();
                    $("#" + tr_id).remove();
                    countBroken += (data.broken ? 1 : 0);
                    $('a.active span')[0].innerText -= 1;
                }
            })
            $("#nav-broken")[0].innerHTML = countBroken;
            return
        })
        .catch(error => {
            alert('There was a problem with selected operation:', error);
        });
    }

    function recheckAction(id){
        const CheckLinkResult = Object.freeze({
            NO_SUCH_PDF: 1,
            NO_SUCH_LINK : 2,
            LINK_OK : 3,
            LINK_BROKEN : 4,
            LINK_BROKEN_SAME_STATUS : 5,
            LINK_BROKEN_STATUS_CHANGED : 6,
            LINK_NOT_PROCESSED : 7
        });
        fetch(`/recheckAction/${id}`, {
            method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
            console.log('data received:', data);
            if (data.delete) {
                var url = $("#" + id).find('a').attr('href');
                $("#" + id).remove();
                $("#details" + id).hide();
                $("#details" + id).remove();
                $('a.active span')[0].innerText -= 1;
                // remove any other rows with the same link
                $(".url_column").each(function () {
                    if ($(this).attr('href') == url) {
                        var tr_id = $(this).parent().parent().parent().attr('id')
                        $("#details" + tr_id).hide();
                        $("#details" + tr_id).remove();
                        $("#" + tr_id).remove();
                        $('a.active span')[0].innerText -= 1;
                    }
                })
                return;
            }
            if (data.statusChanged) {
                location.reload();
                return
            }
            alert("There was no change in the link status");
        })
        .catch (error => {
            alert('There was a problem with selected operation:', error);
        });

    }

    function load() {
        document.getElementById(`spinner`).style.display = "inline-block"
    }
    
    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip({trigger:'hover'})
    })

    document.addEventListener('DOMContentLoaded', function() {
        var settings_model = document.getElementById("settingsPopout");
        document.getElementById("settingsButton").onclick = function() {
            settings_model.style.display = "block";
        }
    
        document.getElementsByClassName("cross")[0].onclick = function() {
            settings_model.style.display = "none";
        }
        // When the user clicks anywhere outside of the settings_model, close it
        window.onclick = function(event) {
            if (event.target == settings_model) {
                settings_model.style.display = "none";
            }
        }
    })
</script>
<div>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div id="nav_container">
            <ul class="nav nav-tabs" role="tablist" style="border: none; margin: 0 2%;">
                {% if request.resolver_match.url_name == 'index' %}
                <li class="nav-item"><a class="nav-link active" href="/" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title="Show links considered broken">Broken Links <span id = "nav-broken" class="badge text-bg-secondary">{{ brokenCount }}</span></a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title="Show links considered broken">Broken Links <span id = "nav-broken" class="badge text-bg-secondary">{{ brokenCount }}</span></a></li>
                {% endif %}
                {% if request.resolver_match.url_name == 'dismiss' %}
                <li class="nav-item"><a class="nav-link active" href="/dismiss" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-title="Show links monitored for status change">Dismissed Links <span id = "nav-dismiss" class="badge text-bg-secondary">{{ dismissCount }}</span></a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/dismiss" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-title="Show links monitored for status change">Dismissed Links <span id = "nav-dismiss" class="badge text-bg-secondary">{{ dismissCount }}</span></a></li>
                {% endif %}
                {% if request.resolver_match.url_name == 'ignore' %}
                <li class="nav-item"><a class="nav-link active"  href="/ignore" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title="Show links ignored as likely not broken">Ignored Links <span id = "nav-ignore" class="badge text-bg-secondary">{{ ignoreCount }}</span></a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/ignore" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title="Show links ignored as likely not broken">Ignored Links <span id = "nav-ignore" class="badge text-bg-secondary">{{ ignoreCount }}</span></a></li>
                {% endif %}
                {% if request.resolver_match.url_name == 'all' %}
                <li class="nav-item"><a class="nav-link active" href="/all" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-title="Show all links">All Links <span id="nav-all" class="badge text-bg-secondary">{{ allCount }}</span></a>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/all" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-title="Show all links">All Links <span id="nav-all" class="badge text-bg-secondary">{{ allCount }}</span></a>
                </li>
                {% endif %}
            </ul>
        {% if user.is_superuser %}
            <span class="btn"><b>User:&nbsp;&nbsp;</b>{{ request.user.username }} &nbsp;(admin)</span>
        {% else %}
            <span class="btn"><b>User:&nbsp;&nbsp;</b>{{ request.user.username }}</span>
        {% endif %}
        </div>
        <div id="action_btn_group">
            <a type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-title="Logout current user" data-bs-placement="bottom" onclick="logoutAction()"><i class="fa-solid fa-sign-out-alt"></i></a>
            <button class="btn btn-danger" id="settingsButton" data-bs-toggle="tooltip" data-bs-title="Show settings menu" data-bs-placement="bottom"><i class="fa-solid fa-cog"></i></button>
            <a type="button" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-title="Manage profile" data-bs-placement="bottom" href="/profile"><i class="fa-solid fa-user"></i></a> 
            {% if user.is_superuser %}
                <a type="button" class="btn btn-danger" href="/manage" data-bs-toggle="tooltip" data-bs-title="Manage users"
                    data-bs-placement="bottom"><i class="fa-solid fa-user-group"></i></a>
            {% endif %}
            <a type="button" class="btn btn-danger" href="/download_excel" data-bs-toggle="tooltip" data-bs-title="Download table" data-bs-placement="bottom"><i class="fa-solid fa-download"></i></a>
            <a type="button" class="btn btn-danger" href="/checkall" style="padding-left: 20px; padding-right: 20px;"
                onclick="load()"  data-bs-toggle="tooltip" data-bs-title="Scan all PDF for broken links" data-bs-placement="bottom">
                <span class="spinner-border spinner-border-sm" id="spinner" role="status" aria-hidden="true"
                    style="display: none;"></span>Check All</a>
        </div>
    </div> 
</div>
<div id="table_container" style="border: 4px solid orange;">
    <table class="table table-bordered table-hover" id="link_table" style="margin-bottom: 0rem; width: 100%;">
        <thead class="table">
            <tr style="background-color: orange; padding: 0; border-color: orange;">
                <th scope="col" style="width: 35%;">URL</th>
                <th scope="col" style="width: 10%;">Status</th>
                <th scope="col" style="width: 25%;">Link Text</th>
                <th scope="col" style="width: 30%;">Source</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
            <tr id="{{ link.id }}" onclick="expand('{{ link.id }}')">
                <td>
                    <p> <a class="url_column" target="_blank" href="{{ link.url }}"> {{ link.url }}</a> </p>
                </td>
                <td> <p>{{ link.statusCode }}</p>
                     <p class="smallest">{{ link.reason }}</p>
                </td>
                <td> {{ link.urlText }}</td>
                <td> {{ link.pdfSource }}</td>
            </tr>
            <tr style="display: none; background-color: lightgray;" id="details{{ link.id }}">
                <td>
                    {% if link.moreInPdf == True %}
                        <p> Found more instance of this link in the source document!</p>
                    {% endif %}
                    <p>Final Redirect: <a target="_blank" href="{{ link.finalUrl }}">{{ link.finalUrl }}</a></p>
                    <p>Last Checked: {{ link.lastChecked }} </p>
                    {% if link.dismiss == True %}
                        <p>Link has been dismissed!</p>
                        {% if request.resolver_match.url_name != 'all' %}
                            <button type="button" class="btn btn-danger  bt-custom" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                data-bs-title="Check this link again" onclick="recheckAction('{{ link.id }}')">Recheck</button>
                            <button type="button" class="btn btn-danger  bt-custom" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                data-bs-title="Remove this link and mark it as not broken" onclick="ignoreAction('{{ link.id }}')">Ignore</button>
                            <button type="button" class="btn btn-danger  bt-custom" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                data-bs-title="Cancel dismiss action on this link" onclick="cancelDismissAction('{{ link.id }}')">Do not dismiss</button>
                        {% endif %}
                    {% elif link.ignore == True %}
                        <p>Link has been ignored!</p>
                        {% if request.resolver_match.url_name != 'all' %}
                            <button type="button" class="btn btn-danger  bt-custom" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                data-bs-title="Check this link again" onclick="recheckAction('{{ link.id }}')">Recheck</button>
                            <button type="button" class="btn btn-danger  bt-custom" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                data-bs-title="Hide this link and do not report it again unless its status changes"
                                onclick="dismissAction('{{ link.id }}')">Dismiss</button>
                            <button type="button" class="btn btn-danger  bt-custom" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                data-bs-title="Cancel ignore action on this link" onclick="cancelIgnoreAction('{{ link.id }}')">Do not ignore</button>
                        {% endif %}
                    {% elif link.broken == True %}
                        <p>Link is broken!  Broken since {{ link.brokenSince }}.</p>
                        {% if request.resolver_match.url_name != 'all' %}
                            <button type="button" class="btn btn-danger  bt-custom" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                data-bs-title="Check this link again" onclick="recheckAction('{{ link.id }}')">Recheck</button>
                            <button type="button" class="btn btn-danger bt-custom" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                data-bs-title="Hide this link and do not report it again unless its status changes"
                                onclick="dismissAction('{{ link.id }}')">Dismiss</button>
                            <button type="button" class="btn btn-danger bt-custom" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                data-bs-title="Remove this link and mark it as not broken" onclick="ignoreAction('{{ link.id }}')">Ignore</button>
                        {% endif %}
                    {% else %}
                        <p>Link is Ok.</p>
                    {% endif %}
                </td>
                <td></td>
                <td></td>
                <td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="settingsPopout" class="settingsPopoutClass">

    <!-- Modal content -->
    <div class="settings-content">
        <span class="cross" style="margin-right: 10px;">&times;</span>
        <h5 style="background-color: orange; border-top-left-radius: 10px; border-top-right-radius: 10px; padding: 10px;">Settings </h5>
        <form action="/settings/directory" method="post" style= "padding-left:10px; padding-bottom: 10px;  margin: 35px 20px;">
            {% csrf_token %}
            <label for="directory"><b>Source Directory:</b></label>
            <div>
            <input type="text" class="form-control" name="directory" id="dir" style="width: 80%; display:inline-block" value={{globals.pdfDirectory}}>
            <input class="btn btn-danger btn-sm" type="submit" value="Save" style="margin-left: 25px; display: inline-block;">
            </div>
        </form>
        <hr>
        <form action="/settings/time" method="post" style="margin-left: 10px; padding-left: 10px; padding-bottom: 10px;  margin: 35px 20px;" id="timing">
            {% csrf_token %}
            <div style="display: inline-flex;">
                <p style="margin-right: 10px;"><b>Check All Start Time</b></p>
                <label for="time">Hour(0-23):</label>
                <input type="text"  name="hourStart" value={{globals.checkAllStartAtHour}} size="2" style="margin-right: 10px;">
                <label for="time">Minute(0-59):</label>
                <input type="text"  name="minStart" value={{globals.checkAllStartAtMin}}  size="2">
            </div>
            <label style="margin-right: 10px; margin-left: 25px;"> <b>Check All Interval </b> </label>
            <label>Hours: </label>
            <input type="text" name="hourInterval" style="margin-right: 10px;" size="2" value={{globals.checkAllIntervalHours}}>
            <label>Minutes:</label>
            <input type="text"  name="minInterval" value={{globals.checkAllIntervalMins}}  size="2" >
            <input class="btn btn-danger btn-sm" type="submit" value="Save" style="margin-left: 25px;">
          </form>
        <hr>
        <form action="/settings/emails" method="post" style="margin-left: 10px; padding-left: 10px; padding-bottom: 10px; margin: 35px 20px;">
            {% csrf_token %}
            <label for="interval" style="margin-right: 10px;"> <b>Enable Email Notifications</b> </label>
            {% if globals.emailNotifyOnNewLink %}
                <input type="checkbox" name="checkNotification" style="margin-right: 10px;" checked>
            {% else %}
                <input type="checkbox" name="checkNotification" style="margin-right: 10px;" value="on">
            {% endif %}
            <label style="margin-left: 25px; display: inline-block;"><b>Email Address:</b></label>
            <input type="text" class="form-control" name="emailadd" value={{globals.emailAddress}} style="width: 30%; display: inline-block;">
            <label style="margin-left: 25px;"><b>Attatch List:</b></label>
            {% if globals.attachListToEmail %}
                <input type="checkbox" name="checkAttach" style="margin-right: 10px;" checked>
            {% else %}
                <input type="checkbox" name="checkAttach" style="margin-right: 10px;" value="on">
            {% endif %}
            <input class="btn btn-danger btn-sm" type="submit" value="Save" style="margin-left: 25px;">
          </form>
    </div>
  
  </div>

{% endblock %}