<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'LinkChecker/modal.css' %}">

</head>

<body>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- The Modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog"
        aria-labelledby="updateGlobalsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateGlobalsModalLabel">Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="javascript:window.location='/'">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                Please correct the errors below.
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <b>{{ form.pdfDirectory.label_tag }}</b>
                            {{ form.pdfDirectory }}
                            {% if form.pdfDirectory.errors %}
                            <div class="text-danger">
                                {{ form.pdfDirectory.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <b>{{ form.checkAllStartAtHour.label_tag }}</b>
                            {{ form.checkAllStartAtHour }}
                            {% if form.checkAllStartAtHour.errors %}
                            <div class="text-danger">
                                {{ form.checkAllStartAtHour.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <b>{{ form.checkAllStartAtMin.label_tag }}</b>
                            {{ form.checkAllStartAtMin }}
                            {% if form.checkAllStartAtMin.errors %}
                            <div class="text-danger">
                                {{ form.checkAllStartAtMin.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <b>{{ form.checkAllIntervalHours.label_tag }}</b>
                            {{ form.checkAllIntervalHours }}
                            {% if form.checkAllIntervalHours.errors %}
                            <div class="text-danger">
                                {{ form.checkAllIntervalHours.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <b>{{ form.checkAllIntervalMins.label_tag }}</b>
                            {{ form.checkAllIntervalMins }}
                            {% if form.checkAllIntervalMins.errors %}
                            <div class="text-danger">
                                {{ form.checkAllIntervalMins.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-check">
                            <b>{{ form.emailNotifyOnNewLink.label_tag }}</b>
                            {{ form.emailNotifyOnNewLink }}
                            {% if form.emailNotifyOnNewLink.errors %}
                            <div class="text-danger">
                                {{ form.emailNotifyOnNewLink.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <b>{{ form.sendToEmails.label_tag }}</b>
                            {{ form.sendToEmails }}
                            {% if form.sendToEmails.errors %}
                            <div class="text-danger">
                                {{ form.sendToEmails.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-check">
                            <b>{{ form.attachListToEmail.label_tag }}</b>
                            {{ form.attachListToEmail }}
                            {% if form.attachListToEmail.errors %}
                            <div class="text-danger">
                                {{ form.attachListToEmail.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <div>
                            <button type="button" class="btn btn-link" 
                                onclick="javascript:window.location='/smtpsettings'">Advanced Settings</button>
                        </div>
                        <button type="submit" class="btn btn-danger">Save Changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            onclick="javascript:window.location='/'">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            $('#settingsModal').modal({ backdrop: 'static', keyboard: false });
            $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
        };
    </script>
</body>

</html>