
.tooltip {
    z-index: 100000000 !important;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: orange;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.modal-body .btn-secondary {
    float:inline-end;
}

.modal-body .btn-link {
    text-decoration: underline;
    margin-bottom: 1.5rem;
}

.modal-body .form-check-input {
    margin-left: 0.75rem;
}

